.PageContainer {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
}

.ContentContainer {
  height: 87%;
  width: 100%;
  display: flex;
}

.LeftDiv {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.RightDiv {
  width: 65%;
  height: 100%;
}
