.Container {
  background-color: var(--primary-color);
  width: 100vw;
  height: 3vh;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
}

.LeftDiv {
  font-size: 0.7rem;
  font-weight: 200;
}

.FooterButton {
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.7rem;
  margin-left: 0.5rem;

}
